@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu';
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    margin-bottom: 54px;
    padding-left: 79px;
    padding-right: 79px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-wrapper:hover {
    filter: contrast(0.9);
    transition: 0.5s;
}

.logo-text {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    opacity: none;
}

.logo-text:hover {
    color: #3CB878;
    filter: brightness(0.6);
    transition: 0.2s ease-out;
}

.right-navbar {
    display: flex;
    align-items: center;
}

.header-text {
    display: flex;
    align-items: center;
    height: 19px;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 25px;
    border-left: 1px solid #FFFFFFE5;
}

.header-text1 {
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}

.header-link {
    text-decoration: none;
    margin-right: 25px;
}

.header-link:hover {
    filter: brightness(0.6);
    transition: 0.2s ease-out;
}

.calendar:hover {
    filter: brightness(0.6);
    content: url(../img/calendarlogo-hover.svg);
}

.envelope:hover {
    filter: brightness(0.6);
    content: url(../img/envelopelogo-hover.svg)
}

.compass:hover {
    filter: brightness(0.6);
    content: url(../img/compasslogo-hover.svg);
}

.green-hover-text {
    padding: 0 5px;
}

.green-hover-text:hover {
    color: #3CB878;
    filter: brightness(0.6);
    transition: 0.2s ease-out;
}

.form-wrapper {
    position: relative;
    height: 584px;
    width: 444px;
    background-color: #FFFFFF;
    padding: 31px 60px 38px;
    margin: 0 auto 74px;
    box-sizing: border-box;
}

.form-container {
    font-size: 20px;
    color: #434343;
}

.green-link {
    position: absolute;
    top: 33px;
    right: 60px;
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
}

.green-link:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.2s ease-out;
}

.green-block {
    position: absolute;
    top: 29px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: #3CB878;
}

.facebook-botton {
    position: absolute;
    top: 60px;
    left: 60px;
    height: 48px;
    width: 160px;
    border-radius: 4px;
    background-color: #305DB8;
}

.facebook-botton:hover {
    background-color: #022263;
    transition: 0.4s ease-out;
}

.facebook-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.facebook-image {
    position: absolute;
    top: 11px;
    left: 13px;
}

.botton-text1 {
    position: absolute;
    top: 9px;
    right: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding-left: 18px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
}   

.google-botton {
    position: absolute;
    top: 60px;
    right: 60px;
    height: 48px;
    width: 160px;
    border-radius: 4px;
    background-color: #DF4A32;
}

.google-botton:hover {
    background-color: #AB1F09;
    transition: 0.4s ease-out;
}

.google-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.google-image {
    position: absolute;
    top: 14px;
    left: 12px;
}

.botton-text2 {
    position: absolute;
    top: 9px;
    right: 26px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    border-left: 1px solid rgba(43, 13, 9, 0.1);
}   

.dividing-line {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 139px;
    width: 324px;
    height: max-content;
}

.hr-line {
    height: 1px;
    background-color: #F2F2F2;
    width: 100%;
}

.dividing-text {
    font-size: 14px;
    color: #848484;
    margin: 0 5px;
}

.label-wrapper {
    position: absolute;
    top: 165px; 
}

.label-text {
    display: block;    
}

.sign-up-input {
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 19px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.sign-up-input:focus {
    outline: none;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    transition: 0.4s ease-out;
    border: none;
}

.sign-up-input::placeholder {
    font-family: "Ubuntu";
    color: #BEBEBE;
    font-size: 14px;
    box-sizing: border-box;
}

.sign-up-input-checkbox:checked, 
.sign-up-input-checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}
    
.sign-up-input-checkbox:checked + .lable-check-box, 
.sign-up-input-checkbox:not(:checked) + .lable-check-box {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}

.sign-up-input-checkbox:checked + .lable-check-box:before, 
.sign-up-input-checkbox:not(:checked) + .lable-check-box:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}

.sign-up-input-checkbox:checked + .lable-check-box:after, 
.sign-up-input-checkbox:not(:checked) + .lable-check-box:after {
    content: url(../img/check_mark.svg);
    position: absolute; 
    transition: all 0.2s ease;
    left: 3px;
    top: 2px;
}

.sign-up-input-checkbox:not(:checked) + .lable-check-box:after {
    opacity: 0;
}

.sign-up-input-checkbox:checked + .lable-check-box:after {
    opacity: 1;
}

.checkbox-text {
    font-family: "Ubuntu";
    color: #434343;
    font-size: 14px;
    padding-left: 50px;
}

.gren-text-checkbox {
    color: #3CB878;
    padding-left: 5px;
    text-decoration: none;
}

.gren-text-checkbox:hover {
    color: #01813F;
    transition: 0.2s ease-out;
    text-decoration: underline;
}

.sign-up-input-submit {
    position: absolute;
    top: 334px;
    left: 0;
    width: 324px;
    height: 46px;
    padding: auto;
    background-color: #3CB878;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Ubuntu";
    font-size: 16px;
    color: #FFFFFF;
}

.sign-up-input-submit:hover {
    background-color: #01813F;
    transition: 0.4s ease-out;
}
